.footer {
    background-color: #eaeaf0;
    color: rgb(254, 169, 169);
    text-align: center;
    padding: 10px;

    bottom: 0;
    width: 100%;
    
  }

  /* Style the social icons */
  .social-icons a {
    color: rgb(200, 49, 49);
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
  }
  
/* Basic styles for project box */
.project-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    max-width: 600px;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Project image styles */
  .project-image img {
    width: 100%;
    height: auto;
  }
  
  /* Project details styles */
  .project-details {
    padding: 20px;
  }
  
  .project-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-details p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .project-link:hover {
    background-color: #2980b9;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .project-box {
      max-width: 100%;
    }
  }
  .full-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
}